body {
  background: url("http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png") repeat;
  background-attachment: fixed;
}

.nav-pills > li > a,
        .nav-pills > li > a:hover,
        .nav-pills > li > a:focus{
            background-color: transparent;  
        } 

.header {
  background: url("http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png") repeat;
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 1; 
}

#name {
  position: relative;
  font-size: 32px;
  top: -38px;
  margin-left: 5px;
  text-decoration: none;
}

.header a {
  margin-top: 10px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
}

#logo {
  background-image: url("../images/Logosmall.png");
  z-index: 1;
  height: 75px;
  width: 75px;
  margin-top: 6px;
  
}

.twitter {
  background-image: url("../images/twitter.png");
  height: 48px;
  width: 48px;
}

.facebook {
  background-image: url("../images/facebook.png");
  height: 48px;
  width: 48px;
}

.instagram {
  background-image: url("../images/instagram.png");
  height: 48px;
  width: 48px;
}

.footer {
  text-align: center;
  padding-top: 19px;
  color: #fff;
}

.footer a {
  margin-top: -45px;
  margin-bottom: 5px;
  display: inline-block;
  float: right;
}

.jumbotron {
  height: 830px;
  background-image: url("../images/truck_backgrnd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid #777;
  margin-bottom: 0px;
  color: #fff;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  padding-top: 50px;
  font-size: 58px;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.banner {
  height: 600px;
  width: 100%;
  background-color: #fff;
}

#location {

}

#calendarbtn {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #ffd42a;
  border-radius: 500px;
  border: 3px solid black;
}

.btn:focus {
  outline: 0 !important;
}


#parallax1 {
  background-image: url("../images/parallax2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

#menu {
  text-align: center;
 }

#parallax2 {
  background-image: url("../images/parallax3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

#catering {
  padding-bottom: 20px;
  background-color: #fff;
}

#parallax3 {
  background-image: url("../images/parallax1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

#about {
  background-color: #ffd42a;
  text-align: center;
}