body {
  position: relative;
  background: url("http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png") repeat;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  left: 0;
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus{
    background-color: transparent;  
} 

.header {
  background: url("http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png") repeat;
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 1; 
}

.header .header-name {
  position: relative;
  font-size: 32px;
  top: -22px;
  margin-left: 5px;
  text-decoration: none;
}

.header a {
  margin-top: 10px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
}

#header-admin-btn {
  color: #fff;
  margin: 16px 5px;
  float: left;
  background-color: transparent;
  font-size: 12px;
}

#header-admin-btn:hover { 
  color: #fff;
}

.header .header-logo {
  background-image: url("../images/Logosmall.png");
  z-index: 1;
  height: 64px;
  width: 64px;
  margin-top: 0px;
  
}

.twitter {
  background-image: url("../images/twitter.png");
  height: 48px;
  width: 48px;
}

.facebook {
  background-image: url("../images/facebook.png");
  height: 48px;
  width: 48px;
}

.instagram {
  background-image: url("../images/instagram.png");
  height: 48px;
  width: 48px;
}

.footer {
  text-align: center;
  padding-top: 19px;
  color: #fff;
}

.footer a {
  margin-top: -45px;
  margin-bottom: 5px;
  display: inline-block;
  float: right;
}

.jumbotron {
  height: 830px;
  background-image: url("../images/truck_backgrnd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid #777;
  margin-bottom: 0px;
  color: #fff;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  padding-top: 50px;
  font-size: 60px;
  font-weight: bold;
}

.banner {
  min-height: 600px;
  width: 100%;
  background-color: #fff;
}


h1 {
  font-size: 52px;
  text-align: center;
}

h2 {
  font-size: 46px;
  margin-bottom: 40px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

#location {
  position: relative;
  text-align: center;
}

#location h2 {
  margin-top: 200px;
}

.overlay {
  z-index: 1;
   background: transparent; 
   position:relative; 
   width:600px;
   height:400px; /* your iframe height */
   top:500px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

#map {
  margin-top: 100px;
}

#calendarbtn {

  position: absolute;
  margin-left: -75px;
  text-align: center;
  background-color: #ffd42a;
  border-radius: 100%;
  border: 5px solid black;
  width: 80px;
  height: 80px;
}

#calendarbtn span {
  position: relative;
  top: 4px;
}

#calendar {
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
}

.btn:focus {
  outline: 0 !important;
}


#parallax1 {
  background-image: url("../images/parallax2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

#menu {
  text-align: center;
 }

 .carousel {
  height: 600px;
  width: 100%;
 }

.carousel-control.right {
    margin-right: -65px;
    background-image: none;
    color: black;
}


.carousel-control.left {
    margin-left: -65px;
    background-image: none;
    color: black;
}

.carousel-caption {
  position: relative;
  top: -300px;
  font-size: 32px;
  color: black;
  text-shadow: none;
}

.carousel-inner>.item {
  margin-top: 150px;
}

#parallax2 {
  background-image: url("../images/parallax3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

#catering {
  padding-bottom: 20px;
}

#contact-us {
  padding-top: 40px;
  margin: 0 auto;
  width: 600px;
}

#parallax3 {
  background-image: url("../images/parallax1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

#about {
  background-color: #ffd42a;
  text-align: center;
}