body {
  background: url("http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png") repeat;
  background-attachment: fixed;
}

.nav-pills > li > a,
        .nav-pills > li > a:hover,
        .nav-pills > li > a:focus{
            background-color: transparent;  
        } 

.header {
  background: url("http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png") repeat;
  height: 83px;
  width: 100%;
  position: fixed;
  margin-top: -5px;
  z-index: 1;
  border-bottom: 1px solid #777; 
}

.header a {
  color: #fff;
  display: inline-block;
}

.header .nav {
  margin-top: 25px;
  font-size: 22px;
}


.logo {
  background-image: url("../images/Logosmall.png");
  z-index: 1;
  height: 75px;
  width: 75px;
  margin-top: 6px;
  
}

.twitter {
  background-image: url("../images/twitter.png");
  height: 48px;
  width: 48px;
}

.facebook {
  background-image: url("../images/facebook.png");
  height: 48px;
  width: 48px;
}

.instagram {
  background-image: url("../images/instagram.png");
  height: 48px;
  width: 48px;
}

.footer {
  text-align: center;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #dbdbdb;
}

.footer a {
  margin-top: -45px;
  margin-bottom: 5px;
  display: inline-block;
  float: right;
}

.jumbotron {
  height: 820px;
  background-image: url("../images/truck_backgrnd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid #777;
  margin-bottom: 0px;
  color: #fff;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  padding-top: 50px;
  font-size: 58px;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.location {
  background-color: #ffd42a;
}

.menu {
  text-align: center;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  color: #fff;
 }


.catering {
  padding-bottom: 20px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #777;
  color: #fff;
}

.about {
  background-color: #ffd42a;
  text-align: center;
}