#login {
	padding-top: 100px;
}

#login .panel {
	border-radius: 25px;
	border-color: #333;
}

#login .panel-heading {
	background-color: transparent;
	color: #333;
	border-color: #333;
}

#login .has-error {
	color: #a94442;
}

#login .panel-title {
	font-size: 20px;
}

#login .btn {
	color: #333;
	background-color: #ffd42a;
	border-radius: 25px;
	border-width: 3px;
	border-color: #333;
}

#login .btn:focus {
	outline: 0;
}

.login-forgot-password {
	text-align: center;
	margin-top: 10px;
}
